
	body{
		margin: 0;
		padding: 0;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica, Arial,
		 "Lucida Grande", sans-serif;
	}

	#menuBar{
		width: 100%;
		height: 64px;
		background-color:#F8F8F8;
		border-bottom: 4px solid #E8DB6A;
	}

	#logo{
		padding:10px 0 0 20px;
		font-weight: bold;
		font-size: 120%;
		float:left;
	}

  #forkMe{
		float: left;
		padding:17px 10px 0 50px;
	}

  	#forkMe img{
    	height: 25px;
  	}

  	#counter{
  		float: left;
		padding:10px 10px 0 50px;
  	}

	#RunRun{
		float: right;
		padding:10px 10px 0 0;
	}

	#OliverQueen{
		font-size: 120%;
	}

	#Schindler{
		width: 202px;
		margin:0 auto;
		list-style: none;
		border:1px solid grey;
		border-radius: 3px;
		height:27px;
		padding: 0;
		position: relative;
		top: 10px;
	}

	#Schindler li{
		float:left;
		border-right: 1px solid grey;
		padding:5px 7px;
	}

	.clear{
		clear:both;
	}

  .toggle{
    background-color: white;
    color: black;
  }

	.codeBox{
		height: 100%;
		width:50%;
		float: left;
		position: relative;
	}

	.codeBox textarea{
		width: 100%;
		height: 100%;
		border:none;
		border-right: 1px solid grey;
		font-family: monotype;
		font-size: 90%;
		padding:5px;
		box-sizing: border-box;
    resize: none;
	}

	.codeLabel{
		position: absolute;
		top: 10px;
		right: 10px;
	}

	#CSSBox, #JSBox{
		display: none;
	}

	iframe{
		height: 99.3%;
		position: relative;
    padding-left: none;
    width: 99%;
	}

	.selected{
		background-color: grey;
	}